connections:
  postgresql:
    adapter: postgresql
    database: apartment_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:
    host: <%= ENV.fetch('PG_HOST', 'localhost') %>
    port: 5432